.footer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: start;

  width: 100%;
  padding: 180px 50px 90px 50px;
}

.footer-nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: start;

  list-style: none;
  text-align: center;

  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer-nav-li {
  border-bottom: 1px solid #000;
  width: fit-content;
  margin: auto;
}

.footer-socials-logo {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer-socials-logo-size {
  height: 48px;
  width: 48px;
}
