.jambotron {
    display: flex;
    flex-direction: column;
    height: 757px;
    position: relative;
    padding: 165px 50px 0 50px;
}

.jambotron-title {
    display: flex;
    flex-direction: column;

    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;

    gap: 20px;
}

.jambotron-extra-line-height {
    line-height: 115%;
}

.jambotron-title__fixed-height-span {
    height: 100px;
}

.extra-letter-spacing {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}
.jambotron-cover-image {
    background-image: url(../images/cover.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -18px; 
    /* подобрано вручную */
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 1440px;
    height: 757px;
}

.jambotron-cover-overlay {
    background-color: #000;
    opacity: 0.6;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 1440px;
    height: 757px;
}

.jambotron-footer {

    display: flex;
    flex-direction: row;
    gap: 78px;
    position: absolute;
    right: 50px;
    bottom: 50px;

}

.jambotron-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;

    width: 633px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: auto;
}

.jambotron-button {

    height: 52px;
    width: 257px;

    border: 1px solid #FFF;

    padding: 12px 32px;

    vertical-align: bottom;
}

.jambotron-button-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 193px;
    height: 28px;
    
    text-align: left;
}